:root {
    --primary-color: #FFD800;
}


/* general */

html {
    font-size: 1.2vw;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Aileron Regular", sans-serif;
}

hr {
    width: 90%;
    height: 2px;
    border: none;
    background: linear-gradient(to right, orange, var(--primary-color));
}


/* footer */

footer {
    background-color: #1b1b1b;
    text-align: center;
}

footer .display-flex div {
    margin: 0 auto;
    text-align: left;
}


/* scrollbar */

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}


/* cursor */

html {
    cursor: none;
}

#circularcursor {
    background-color: #000;
    border: 1px solid var(--primary-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 100px 30px var(--primary-color);
}


/* Buttons */

.btn-primary {
    --glow-color: var(--primary-color);
    --glow-spread-color: var(--primary-color);
    --enhanced-glow-color: var(--primary-color);
    --btn-color: #ffd90032;
    border: .25em solid var(--glow-color);
    padding: 20px;
    color: var(--glow-color);
    font-size: 1vw;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em .25em var(--glow-color), 0 0 9em 1em var(--glow-spread-color), inset 0 0 1.25em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    min-width: 12vw;
    max-width: 12vw;
}

.btn-primary::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.btn-primary:hover {
    color: #000;
    background-color: #ffd900c6;
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
}

.btn-primary:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color), inset 0 0 .5em .25em var(--glow-color);
}

.btn-secondary {
    background-color: #3535357d;
    color: #b4b4b4;
    border-radius: 10px;
    padding: 20px;
    min-width: 12vw;
    max-width: 12vw;
}

.btn-secondary:hover {
    background-color: #5352527d;
}


/* text */

.big-grey-text {
    color: #b3b3b3;
    font-size: 25vw;
    font-family: fantasy;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
}


/* classes */

.display-flex {
    display: flex;
}

.text-hover {
    margin: -27px;
}

.text-hover:hover {
    color: var(--primary-color);
}

.counter-card {
    background-color: #494949a0;
    border-radius: 20px;
    min-width: 15vw;
    max-width: 15vw;
    height: 5vw;
    z-index: 30;
    padding: 30px;
}

.counter-card span {
    color: #b3b3b3
}

.counter-card:first-of-type {
    position: relative;
    top: 2vw;
    z-index: 50;
}

.counter-card:last-of-type {
    position: relative;
    right: 6vw;
    bottom: 1vw;
}

.colored-counter-card {
    background: linear-gradient(var(--primary-color), orange);
    color: #000;
    z-index: 40;
    position: relative;
    top: 7vw;
    right: 2vw;
}

.colored-counter-card span {
    color: #201f1f;
}


/* spotlight */

.spotlight {
    display: none;
    position: fixed;
    top: 0;
    width: 50vw;
}

#spotlight-left {
    left: 0;
}

#spotlight-right {
    right: 0;
}